.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  }
.navbar h1{
  color: #fff;
  margin-left: 2%;
  font-size: xx-large;
}
.nav-items {
  list-style: none;
  margin-right: 3%;
  display: flex; /* Use flex container */
  align-items: center; /* Vertically center items */
}

.nav-items li {
  font-size: large;
  color: white;
  display: inline;
  margin: 0 40px;
  cursor: pointer;
}
.nav-items button{
  background: none;
  color: #fff;
  padding: 10px 30px;
  border: 2px solid white;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  
}

.logout:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-items li:hover{
  color: bisque;
}
