.fpassword{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 10%;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.fpassword label{
    display: block;
    margin-top: 5%;
    margin-bottom: 5px;
    font-weight: 800;
    color: white;
}

.fpassword input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.btn{
    width: 50%;
    margin-bottom: 4%;
    background-color: rgb(161, 143, 122);
    border: none;
    color: white;
    padding: 2%;
    cursor: pointer;
}