.expense-form {
    /* Styles for light mode */
    background-color: #fff;
    color: #333;
    
}

.expense-form.dark {
    /* Styles for dark mode */
    background-color: #333;
    color: #fff;
    
}

.expense-form{
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 8%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.expense-form label {
    display: block;
    margin-bottom: 5px;
}

.expense-form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.expense-form button {
    background-color: #ffae00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }